.navibar{
    /*
    플렉스 박스로 만들어준다.
    가로 방향 정렬 (수평)
    */
    display: flex;

    /*
    옆으로 정렬해주기
    space-between 은 콘텐츠 사이에 중간중간
    스페이스를 넣어준다.
    현재 있는 축(수평)에서 하려면
    justify-content 사용.
    */
    justify-content: space-between;

    /*
    수직으로 정렬을 해보자.
    현재 주어진 축과 반대방향으로 적용을 시킨다 (수직).
    수직의 중앙으로 맞춰준다.
    */
    align-items: center;
    
    /* 
    색상 입히기.
    */
    background-color: #263343;

    /* 
    전체적으로 모서리가 붙어있어서 padding을 준다. 
    내부적으로 텍스트가 윈도우 양 끝에 너무 붙어있음.
    패딩 한꺼번에 2개 줄 수 있음 (가로, 세로)
    */
    padding: 8px 12px;
}

/*
원하지 않는 공백을 지워버린다.
*/
body{
    margin: 0;
}

/* 
a 태그에 택스트 밑줄과 색상이 있는데
text-decoration으로 없애주자.
*/
a {
    text-decoration: none;
    color: white;
}
