/* 
1. 필요 없다고 생각되는 속성들을 초기화
*/
html,
body {
  margin: 0;
  padding: 0;
}

/* 
2. h 태그와 p 태그는 기본적으로 위아래 margin을 가지고 있다.
    margin을 초기화 시켜준다.
*/
h1,
p {
  margin: 0;
}

/* 
5. a 태그의 속성을 정의해준다.
*/
a {
  /* 부모로부터 상속된 값을 적용 받아라 */
  color: inherit;
  /* 텍스트에 걸려있던 hyperlink 표시를 없애준다. */
  text-decoration: none;
}

/* 
3. 배경을 추가해준다. 배경이 반복되는 것을 없애기 위해 no-repeat.
    vw, vh, % 의 차이점
    - vw, vh : 가로 세로의 지금 가지고 있는 크기의 최대치
    - %를 했을 경우에는 마진, ... 다 빼고 100%가 되기 때문에
        정확하게 전체를 다 사용할 경우에는 vw, vh를 사용하면 된다.
*/
#main {
  background: url(background-img.jpg) no-repeat;
  background-size: cover;
  /* center center : 위아래로 중앙을 맞춰 주겠다는 의미 */
  background-position: center center;
  width: 100vw;
  height: 100vh;

  /* 7. google fonts - Questrial */
  font-family: "Questrial", "sans-serif";
}

/* 
4. contents 텍스트의 색상을 흰색으로
*/
#contents {
  color: white;
  /* 절대적인 좌표로 지정을 해준다 */
  position: absolute;
  width: 100%;
  /* 이렇게만 주게되면 시작 지점이 50%
     이고, 요소(element)가 50% 지점이 오는 것이 아님.
  */
  top: 50%;
  /* 요소 자체가 중앙에 오기 위해서 */
  transform: translateY(-50%);
  /* 텍스트를 중앙으로 위치시킴 (가운데 정렬) */
  text-align: center;
}

/* 6. 구글 폰트 사용 */
#contents h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  margin-bottom: 16px;
}

#contents p {
  /* 8. 폰트 사이즈를 저장 */
  font-size: 23px;
}

/* 9. a tag를 버튼처럼 만들어본다. "Get Started" button */
#contents a {
  display: inline-block;

  /* 직사각형의 테두리를 만들어준다 */
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: bold;

  /* 12(마지막). 마우스를 올릴 때 0.5초동안의 애니메이션 효과 적용 */
  transition: all 0.5s;
}

/* 10. 마우스가 올라가면 색상이 변하도록 */
#contents a:hover {
  background-color: gray;
}

/* 11. 미디어 쿼리 시작 */
@media (max-width: 770px) {
  #contents h1 {
    font-size: 50px;
  }
  #contents p {
    /* font 사이즈 지정 */
    font-size: 20px;

    /* p tag, a tag 의 간격을 떨어뜨려주기 (padding 사용) */
    margin-bottom: 16px;
  }
  #contents a {
    font-size: 12px;
  }
}
